<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 - serverbaserad webbutveckling</title>
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href = "/">Visa kurser</a></li>
            <li><a href = "/addcourse">Lägg till kurs</a></li>
            <li><a href = "/about"  class = "current">Om</a></li>
        </ul>
    </nav>
    <main>
    <h1>Om uppgiften</h1>
    <p>En text om utvecklingsprocessen med ejs, express, nodemon... </p>
    </main>
</body>
</html>