<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 - serverbaserad webbutveckling</title>
    <link rel = "stylesheet" href = "/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href = "/">Visa kurser</a></li>
            <li><a href = "/addcourse">Lägg till kurs</a></li>
            <li><a href = "/about"  class = "current">Om</a></li>
        </ul>
    </nav>
    <main>
    <h1>Om uppgiften</h1>
    <p>Den här uppgiften är serverbaserad och har skapats med hjälp av webbramverket Express (Node.js)
        för webbserverhantering och EJS (embedded javascript templates) för att vyhantera Express. För
        att skapa databasen har SQLite används och i Visual Studio Code har NPM-paketet sqlite3 installerats. SQLite gör att
        ingen utomstående serverprocess behöver kopplas till projektet, utan allt finns i en fil.
        <br>
        <br>
        <br>
        Målet var att skapa en webbplats som tillåter
        användare att lagra kurser via en databas, samt kunna se de lagrade kurserna och även radera dessa. Jag lade in 
        kurserna för webbutvecklingsprogrammet i koden och kopplade egenskaperna till varandra så att det skulle vara enkelt
        att lägga till en kurs. Men det går också skriva egen text. Det viktiga är att alla fält är ifyllda. 
        <br>
        <br>
        <br>
        Det var mycket information att lära sig inför den här uppgiften, och det krävdes mycket testkörning för att
        lösa delarna. Många misstag har gjorts och lärdomar tas med till framtida uppgifter. Jag kan se fördelarna med
        arbetsprocessen och när jag väl kom igång med det fungerade det oftast smidigt. Framöver skulle jag vilja
        prova fler olika program och ramverk för att se vad som fungerar bäst för mig.
    </p>
    </main>
    <footer>
        Skapad av Cecilia Lindström celi2302@student.miun.se
    </footer>
</body>
</html>