<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 - serverbaserad webbutveckling</title>
    <link rel = "stylesheet" href = "/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href = "/">Visa kurser</a></li>
            <li><a href = "/addcourse" class = "current">Lägg till kurs</a></li>
            <li><a href = "/about">Om</a></li>
        </ul>
    </nav>
    <main>
    <h1>Lägg till kurs</h1>
    <p>Här kan du lägga till nya kurser</p>
    <form action="/add-course" method="POST" id="courseForm">
        <label for="courseNameInput">Kursnamn:</label>
        <input list="coursename" id="courseNameInput" name="coursename" required>
        <datalist id="coursename">
            <% courses.forEach(course => { %>
                <option value="<%= course.KURSNAMN %>">
            <% }); %>
        </datalist>
        
        <label for="courseCodeInput">Kurskod:</label>
        <input id="courseCodeInput" name="coursecode" required>
        
        <label for="progressionInput">Progression:</label>
        <input id="progressionInput" name="progression" required>
        
        <label for="syllabusInput">Kursplan:</label>
        <input id="syllabusInput" name="syllabus" required>
        <input type="submit" value="Lägg till kurs" class="submit">
    </form>
    </main>
    <footer>
        Skapad av Cecilia Lindström celi2302@student.miun.se
    </footer>
    <script src = "/script.js"></script>
</body>
</html>