<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 - serverbaserad webbutveckling</title>
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href = "/">Visa kurser</a></li>
            <li><a href = "/addcourse" class = "current">Lägg till kurs</a></li>
            <li><a href = "/about">Om</a></li>
        </ul>
    </nav>
    <main>
    <h1>Lägg till kurs</h1>
    <p>Här kan du lägga till nya kurser</p>
        <form action="/add-course" method="POST">
            <label for="coursename">Kursnamn:</label>
            <input type="text" id="coursename" name="coursename" required><br>
            
            <label for="coursecode">Kurskod:</label>
            <input type="text" id="coursecode" name="coursecode" required><br>
            
            <label for="progression">Progression:</label>
            <input type="text" id="progression" name="progression" required><br>
            
            <label for="syllabus">Kursplan:</label>
            <input type="text" id="syllabus" name="syllabus" required><br>
            
        <input type = "submit" value = "Lägg till kurs" class = "submit">
    </form>
    </main>
    <footer>
        Skapad av Cecilia Lindström celi2302@student.miun.se
    </footer>
</body>
</html>